Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<Files ~ "\.conf">
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
</Files>